@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

.CodeMirror {
	font-family: "Fira Code";
	height: auto;
	max-height: 50%;
}
#console-out {
	padding: 6px;
	color: rgba(255,255,255, 0.7);
	background-color: #333333;
	font-family: "Fira Code";
}
nav {
	font-size: 90%;
}
